@import "colors";
footer{
    background-color: $first;
    height: 100px;
    width: 100%;
    color: $dark;
    padding: 2rem;
    >div{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          >h1{
            font: 700 2rem $text1;
            text-transform: uppercase;
            color: $third;
          }
          >p{
            font: 400 2rem $text1;
            text-transform: uppercase;
            color: $third;
          }
    }
}
